.git
.gitignore
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.DS_Store
README.md
test_*.py
*.md
layout_clusters/
folklife-screens/
# folklife-screens-x/  # Commented out - needed for image serving
festival-screens/
test_screenshots/
